# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

# Models (VERY IMPORTANT)
models/*.h5
models/**/*.h5
models/**/*.caffemodel

# Face data & embeddings
data/
attendance/

# Logs
*.log

# Environment / secrets
service_account.json
.env

credentials/
data/
__pycache__/
*.pkl
